.App {
  text-align: center;
}

.Title {
  display: flex;
  padding-bottom: 5%;
  background-color: #3B6978;
  justify-content: center;
}

.Title-text{
  font-size: 64px;
  padding-top: 36px;
  color: #E5DFDF;
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
  padding-top: 36px;
}

.MoviesList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px;
}

.MoviesList-item{
  margin-bottom: 24px;
  width: 18%;
}
